#play-button {
  background-color: #ffbb4d;
  border-radius: 3rem;
  padding: 2rem;
  font-size: 3vw;
  font-weight: bold;
}

.Instructions {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.Instructions-container {
  display: grid;
  gap: 3rem;
  padding: 2rem;
  width: fit-content;
}

.Instructions-header {
  background-color: #2d7ef1;
  border-radius: 3rem;
  border: solid #000 2px;
  color: #fff;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  padding: 3rem;
}

.Instructions-nav {
  display: flex;
  justify-content: center;
}

.Instructions-text {
  background-color: #dadada;
  border-radius: 3rem;
  border: solid #000 2px;
  color: #000;
  font-size: 1.5rem;
  padding: 3rem;
  text-align: left;
}

@media (max-width: 990px) {
  #play-button {
    padding: 1rem;
    font-size: 1rem;
  }

  .Instructions-container {
    gap: 1.5rem;
    padding: 1rem;
  }

  .Instructions-header {
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .Instructions-text {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
